[submodule "deps/http-parser"]
	path = deps/http-parser
	url = git://github.com/joyent/http-parser.git
[submodule "deps/v8/repo"]
	path = deps/v8/repo
	url = git://github.com/v8/v8.git
[submodule "deps/freetype/repo"]
	path = deps/freetype/repo
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "deps/harfbuzz/repo"]
	path = deps/harfbuzz/repo
	url = git://github.com/behdad/harfbuzz.git
