[submodule "libuv"]
	path = deps/libuv/repo
	url = git://github.com/joyent/libuv.git
[submodule "deps/http-parser"]
	path = deps/http-parser
	url = git://github.com/joyent/http-parser.git
[submodule "deps/v8"]
	path = deps/v8
	url = git://github.com/v8/v8.git
